{% extends "/modules/logged_out_base.html" %}
{% block content %}
<div class="modal-dialog text-center">
    <div class="main-section">
        <div class="modal-content">
            <div class="user-img">
                <img src="static/img/face.png">
            </div>

            <div class="form-input">
                <form id="signup form" action="/login" method="post">
                    <div class="form-group">
                        <input id="username" type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="login();">Login</button>
                </form>
            </div>

            <!-- TODO implement this
            <div>
                <a href="/forgotpassword.html">Forgot Password?</a>
            </div>
            -->
            <div class="center">
                <a href="/signup.html">Sign up</a>
            </div>

        </div>
    </div>
</div>
<script src="/static/js/field_validators.js"></script>
<script src="/static/js/signup.js"></script>
{% endblock %}
