/*
_nav.scss

This file will is a 'partial' and can be imported into styles.scss
*/

.gnav {
  align-items: center;
  display: grid;
  grid-template-columns: 70px 10% auto 30%;
  grid-template-rows: auto;
  grid-template-areas: "logo title links actions";
  grid-column-gap: 0px;
  justify-content: stretch;
  justify-items: start;
}

.gnav-logo {
  grid-area: logo;
  width: 40px;
  margin: 15px 15px;
}

.gnav-title {
  grid-area: title;
}

.gnav-links {
  grid-area: links;
}

.gnav-actions {
  grid-area: actions;
  justify-self: end;
}

