<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="flex-page">
      <nav class="gnav nav">
          <img src="/img/logo.png" alt="Logo" class="logo gnav-logo">
          <h2 class="title gnav-title">Inventory</h2>
          <ul class="gnav-actions">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
