<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Inventory Manager</title>
  </head>

  <body>
    <div class="flex-page">
      <nav class="gnav nav">
        <img src="/img/logo.png" alt="Logo" class="logo gnav-logo">
        <h2 class="title gnav-title">Inventory</h2>
        <ul class="gnav-actions">
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>

      <section class="flex-vert">
        {% block content %}{% endblock %}
      </section>
    </div>
  </body>
</html>
